<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Navbar</title>
    <link rel="stylesheet" href="./styles/dashboard-navbar.css">
</head>

<body>
<nav class="dashboard-navbar">
    <a href="main-page.html">
        <img src="images/FabflixLogo.png" alt="Fabflix Logo" class="logo">
    </a>
    <div class="dashboard-nav-links">
        <a href="main-page.html" class="dashboard-nav-link">Home</a>
        <a href="add-movie.html" class="dashboard-nav-link">Add a Movie</a>
        <a href="add-star.html" class="dashboard-nav-link">Add a Star</a>
        <a href="add-genre.html" class="dashboard-nav-link">Add a Genre</a>
    </div>
</nav>