<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
  <link rel="stylesheet" href="../styles/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <a href="/main-page.html">
      <img src="/images/FabflixLogo.png" alt="Fabflix Logo" class="logo">
    </a>
    <div class="nav-links">
      <a href="/main-page.html" class="nav-link">Home</a>
      <a href="/movie-list.html" class="nav-link">Movie List</a>
      <a href="" class="nav-link">Checkout</a>
    </div>
    <div class="search-bars">
      <button id="search-toggle" class="btn-search">
        <i class="fas fa-search"></i>
      </button>
      <div id="search-inputs" class="search-inputs hidden">
        <input type="text" class="search-input" placeholder="Title">
        <input type="text" class="search-input" placeholder="Year">
        <input type="text" class="search-input" placeholder="Director">
        <input type="text" class="search-input" placeholder="Star">
      </div>
    </div>
  </nav>
</body>
</html>