<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav class="navbar">
  <a href="/">
    <img src="/images/FabflixLogo.png" alt="Fabflix Logo" class="logo">
  </a>
  <div class="nav-links">
    <a href="/" class="nav-link">Home</a>
    <a href="/movie-list.html" class="nav-link">Movie List</a>
    <a href="" class="nav-link">Checkout</a>
  </div>
  <div class="search-bars">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" placeholder="Title">
  </div>
</nav>

</body>
</html>