body.movie-list {
    background: linear-gradient(midnightblue, black);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-size: cover;
    background-attachment: fixed;
    margin: 40px;
}

.movie-list.results h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: white;
    text-shadow: 3px 3px 2px black;
}

.movie-list table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: darkblue;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px gray;
}

.movie-list th, .movie-list td {
    padding: 15px;
    text-align: left;
}

.movie-list th {
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-bottom: 2px solid white;
}

.movie-list td {
    background-color: whitesmoke;
    color: black;
    border-bottom: 1px solid darkslategray;
}

.movie-list tr:hover td {
    background-color: dodgerblue;
}

.details {
    color: midnightblue;
    font-weight: bold;
    text-decoration: none;
}

.details:hover {
    text-decoration: underline;
    color: darkblue;
}
